@using Domain.Entities
@model Vagon
@{
    ViewBag.Title = "Добавить вагон";
}

<div class="container mt-5">
    @using (Html.BeginForm("CreateVagon", "Admin", FormMethod.Post))
    {
    <div class="form-horizontal">
        <h3>Новый вагон</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Places, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Places, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Places, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" value="@ViewBag.RouteId" name="idR" />
                <input type="hidden" value="@ViewBag.TrainId" name="idT" />
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </div>
    </div>
    }
    <br />
</div>