@using Domain.Models
@model IEnumerable<BuyTicketViewModel>
@{ 
    ViewBag.Title = "Администратор";
}

<div class="mt-2 container">
    @if (Model.Any())
    {
        <h3 class="h-pos">Список покупателей</h3>
        <table class="table table-striped">
            <thead>
                <tr class="">
                    <th scope="col">Номер поезда</th>
                    <th scope="col">Номер вагона</th>
                    <th scope="col">Тип вагона</th>
                    <th scope="col">Почта покупателя</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in Model)
                {
                    <tr class="">
                        <td>@el.TrainNumber</td>
                        <td>@el.VagonNumber</td>
                        <td>@el.VagonType</td>
                        <td>@el.Email</td>
                        <td>
                            <a href="/Admin/Disagree/@el.ChosenTicketId">Удалить</a>
                            <a href="/Admin/Agree/@el.ChosenTicketId">Подтвердить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <h3 class="h-pos">Список маршрутов</h3>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Номер поезда</th>
                    <th>Начальная станция</th>
                    <th>Конечная станция</th>
                    <th>Время отъезда</th>
                    <th>Время прибытия</th>
                    <th>Время в пути</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var el in ViewBag.Routes)
                {
                <tr>
                    <td>@el.TrainNumber</td>
                    <td>@el.StartStation</td>
                    <td>@el.FinishStation</td>
                    <td>@el.StartDate</td>
                    <td>@el.FinishDate</td>
                    <td>@el.TravelTime</td>
                    <td><a href="/Admin/Change/@el.Id" class="btn btn-info">Изменить</a></td>
                </tr>
                }
            </tbody>
        </table> 
        @Html.ActionLink("Добавить", "Create", "Admin", new { area = "" }, new { @class = "btn btn-success" } )
</div>