@using Domain.Services
@model RouteInfo

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br />
    <h3 class="h-pos">@Model.Stations[0].Name - @Model.Stations[Model.Stations.Count - 1].Name</h3>
    <hr />
    <div class="info">
        <span><b>Время отправки: </b>@Model.Stations[0].DepartureTime</span>
        <span><b>Время прибытия: </b>@Model.Stations[Model.Stations.Count - 1].ArrivingTime</span>
        <span><b>Время в пути: </b>@Model.TravelTime</span>
        <span><b>Номер поезда: </b>@Model.Train.Number</span>
        <span><b>Цена билета: </b>@Model.Train.Price грн.</span>
        <span><b>Количество свободных мест на поезде: </b>@Model.EmptyPlaces</span>
    </div>
    <h4 class="h-pos">Список станций</h4>
    <table class="table table-striped table-responsive">
        <thead>
            <tr class="input-text">
                <th scope="col">Станция</th>
                <th scope="col">Дата прибытия</th>
                <th scope="col">Дата отъезда</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model.Stations)
            {
                <tr class="input-text">
                    <td>@el.Name</td>
                    <td>@el.ArrivingTime</td>
                    <td>@el.DepartureTime</td>
                </tr>
            }
        </tbody>
    </table>
    <h4 class="h-pos">Список вагонов</h4>
    
        <table class="table table-striped table-responsive">
            <thead>
                <tr class="input-text">
                    <th scope="col">Номер</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Всего мест</th>
                    <th scope="col">Свободных мест</th>
                    @if (!User.IsInRole("admin"))
                    {
                        <th scope="col"></th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach (var el in Model.Vagons)
                {
                <tr class="input-text">
                    <td>@el.Number</td>
                    <td>@el.Type</td>
                    <td>@el.Places</td>
                    <td>@el.EmptyPlaces</td>
                    @if (!User.IsInRole("admin"))
                    {
                        <td>

                            @using (Html.BeginForm("BuyTicket", "User", FormMethod.Post))
                            {
                                <input type="hidden" value="@Model.Id" name="routeId" />
                                <input type="hidden" value="@el.Id" name="vagonId" />
                                if (el.EmptyPlaces == 0)
                                {
                                    <input type="submit" value="Купить билет" class="btn btn-success" disabled />
                                }
                                else
                                {
                                    <input type="submit" value="Купить билет" class="btn btn-success" />
                                }
                            }
                            
                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>
    
    
</div>