<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top bg-col">
            <a class="navbar-brand header-link" href="#">Подорожник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <img src="~/Images/Icons/menu.png" />
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("ГЛАВНАЯ", "Index", "Home", new { area = "" }, new { @class = "header-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("О НАС", "About", "Home", new { area = "" }, new { @class = "header-link" })
                    </li>
                </ul>
                @Html.Partial("_LoginPratial")
            </div>
        </nav>
    </header>
    <div class="wrapper">
        @RenderBody()
    </div>
    <footer class="bg-col">
        <p class="footer-text">&copy;Все права защищены - @DateTime.Now.Year</p>
    </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
